# **Data Types and Structures Questions Solutions**

# **Q1. What are data structures, and why are they important?**
  . In the world of computer science, data structures are fundamental tools that enable efficient data management.

# **Q2. Explain the difference between mutable and immutable data types with examples.**
  . Mutable data types are those whose values can be changed after they are created. This means you can modify the contents of

 the object directly without creating a new object.


  . Immutable data types are those whose values cannot be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object.

# **Q3. What are the main differences between lists and tuples in Python?**
  . In Python, the main difference between lists and tuples is that lists are mutable, while tuples are immutable. This means that you can change lists by adding, removing, or modifying elements, but you cannot do the same with tuples.

# **Q4.  Describe how dictionaries store data.**
  . Python dictionaries are a highly efficient way to store and retrieve data using a key-value pairing system.

# **Q5. Why might you use a set instead of a list in Python?**
  . Sets and lists in Python, while both being collections of items, serve different purposes due to their distinct characteristics.

# **Q6.  What is a string in Python, and how is it different from a list.**
  . In Python, both strings and lists are sequence types, meaning they store an ordered collection of items. However, they have fundamental differences in the type of data they hold and their mutability.

# **Q7.  How do tuples ensure data integrity in Python?**
  . Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

# **Q8.  What is a hash table, and how does it relate to dictionaries in Python?**
  . A hash table is a data structure that implements an associative array, also known as a dictionary, which can map keys to values. It uses a hash function to compute an index into an array of "buckets" or "slots," from which the desired value can be found.

# **Q9. Can lists contain different data types in Python?**
  . Yes, Python lists are very flexible and can indeed contain elements of different data types. This is a key characteristic that distinguishes Python lists from arrays in some other programming languages.

# **Q10. Explain why strings are immutable in Python.**
  . The immutability of strings in Python is a design choice that offers several benefits.

# **Q11. What advantages do dictionaries offer over lists for certain tasks?**
  . Dictionaries and lists in Python are both versatile data structures, but they excel in different scenarios.

 Dictionaries offer distinct advantages over lists for certain tasks, primarily due to their key-value structure and efficient lookup capabilities.

# **Q12. Describe a scenario where using a tuple would be preferable over a list.**
  . A scenario where a tuple would be preferable over a list is when you need to store a collection of items that should not be modified after they are created.

# **Q13. How do sets handle duplicate values in Python?**
  . In Python, sets are designed to store only unique elements. This fundamental characteristic is how they handle duplicate values.

# **Q14. How does the “in” keyword work differently for lists and dictionaries?**
  . The "in" keyword in Python serves as a membership test, but its behavior differs significantly between lists and dictionaries due to their underlying data structures.

# **Q15. The "in" keyword in Python serves as a membership test, but its behavior differs significantly between lists and dictionaries due to their underlying data structures.**
  . Yes, that's a correct and concise summary. To reiterate and emphasize the key difference:


   Lists:

   . The in operator performs a linear search, checking each element sequentially. This means it becomes slower as the list grows larger.

   . It checks for the presence of a specific value within the list.

  Dictionaries:

   . The in operator leverages the dictionary's hash table implementation, providing near-constant-time lookups. This makes it very efficient, even for large dictionaries.

   . It checks for the presence of a specific key within the dictionary.

This difference in behavior stems from the fundamental ways these data structures store and access data. Lists are ordered sequences, while dictionaries are key-value pairs optimized for fast lookups based on keys.

# **Q16. What is a nested dictionary, and give an example of its use case?**
  . A nested dictionary in Python is a dictionary where one or more values are themselves dictionaries. Essentially, it's a dictionary within a dictionary. This allows you to represent hierarchical or complex data structures.

# **Q17.  Describe the time complexity of accessing elements in a dictionary.**
  . When discussing the time complexity of accessing elements in a Python dictionary, it's essential to distinguish between average-case and worst-case scenarios.

# **Q18.  In what situations are lists preferred over dictionaries?**
  . For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

# **Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
  . The concept of dictionaries being "unordered" in Python has evolved, but the core principle remains tied to their fundamental purpose: efficient key-based lookups.

# **Q20.  Explain the difference between a list and a dictionary in terms of data retrieval.**
  . In terms of data retrieval, lists access elements by their numerical index (starting from 0), while dictionaries access elements by their unique, associated key. Dictionaries offer faster retrieval using keys (O(1) average time complexity) compared to lists (O(n) linear time complexity) for large datasets.

# **Data Types and Structures Practical Solutions**

# **Q1. Write a code to create a string with your name and print it.**

In [2]:
my_name = "Bijay Barman"
print(my_name)

Bijay Barman

# **Q2. Write a code to find the length of the string "Hello World".**

In [3]:
my_string = "Hello World"
string_length = len(my_string)
print(string_length)

11

# **Q3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [4]:
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

# **Q4. Write a code to convert the string "hello" to uppercase.**

In [5]:
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

# **Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [6]:
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

# **Q6. Write a code to create a list with numbers 1 to 5 and print it.**

In [7]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

# **Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [8]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

# **Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [9]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

# **Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [10]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

# **Q10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [11]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

# **Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [12]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

# **Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [13]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

# **Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [14]:
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

# **Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [15]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

# **Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [16]:
fruits_tuple = ("apple", "banana", "orange")

if "kiwi" in fruits_tuple:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

# **Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [17]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

# **Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [18]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

# **Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [19]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

# **Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [20]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

# **Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [21]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

print(intersection_set)

{2, 3}

# **Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [22]:
my_dict = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}

print(my_dict)

{'name': 'John Doe', 'age': 30, 'city': 'New York'}

# **Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [23]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

# **Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [24]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

# **Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [25]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

# **Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [26]:
my_dict = {'name': 'Alice', 'city': 'Paris'}

if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

# **Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [27]:
my_list = [1, 2, 3, "apple"]
my_tuple = (10, "hello", 20.5)
my_dict = {"name": "Bob", "age": 30, "city": "London"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 'apple']
Tuple: (10, 'hello', 20.5)
Dictionary: {'name': 'Bob', 'age': 30, 'city': 'London'}

# **Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).**

In [28]:
import random

random_numbers = []
for _ in range(5):
    random_numbers.append(random.randint(1, 100))

random_numbers.sort()

print(random_numbers)

[10, 20, 20, 36, 60]

# **Q28. Write a code to create a list with strings and print the element at the third index.**

In [29]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = my_list[3]
print(third_element)

date

# **Q29. Write a code to combine two dictionaries into one and print the result.**

In [30]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# **Q30. Write a code to convert a list of strings into a set.**

In [32]:
my_list = ["apple", "banana", "apple", "cherry", "date"]
my_set = set(my_list)
print(my_set)

{'date', 'apple', 'banana', 'cherry'}